
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Bootstrap
@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";
@import "grid-settings";
@import "select2";
@import "jquery-ui";
@import "timepicker";
@import "shifts";
@import "shifts-table";

$header-height: 80px;

body {
	margin: 0;
	padding-top: $header-height;
}

.site-header {
	background: rgba( $theme-color, 0.99% );
	height: $header-height;
	font-weight: bold;
	z-index: 100;
	@include position(fixed, 0 0 null 0);
	@include media(max-width $medium-screen) {
		text-align: center;
	}
	.container {
		padding: $small-spacing;
		@include media($medium-screen-up) {
			@include display(flex);
			@include flex-wrap(wrap);
			@include align-items(center);
			@include justify-content(space-between);
		}
	}
	a {
		color: white;
	}
}

.logo {
	display: block;
	img {
		max-width: rem(150);
		height: rem(30);
		@include media($medium-screen-up) {
			height: rem(50);
		}
	}
}

.main-nav {
	li {
		display: inline-block;
		margin-left: $small-spacing;
		&:first-child {
			margin-left: 0;
		}
	}
}

.help-block {
	display: block;
	padding: $small-spacing 0;
	color: #870b0f;
}

.container {
	margin: 0 auto;
	padding-left: $small-spacing;
	padding-right: $small-spacing;
	max-width: 1000px;
}

.site-main {
	padding: $base-spacing $small-spacing;
}

.site-footer {
	padding: $base-spacing 0;
}
